body{
	font-size: 16px;
	line-height: 1.5;
	font-family: "Roboto",sans-serif;
	letter-spacing: 0.5px;
}

/* <!-- headr --> */
header{
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/* <!-- SITENAV --> */
.nav{
	list-style-type: none;
}
.navbarnav{
	display: flex;
	align-items: center;
}
.nav a{
	line-height: 15px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #000;
	list-style: none;
	text-decoration:none;
}
/* <!--HERO  --> */
.hero{
	background-color:#252420;
	color: #ffffff;
	width: 100%;
	height: 488px;
}
.hero-content{
	width: 390px;
}
.btn{
	line-height: 15px;
	background-color: #FF7500;
	color: #fff;
	text-decoration: none;
}
.orange-line{
	width: 80px;
	height: 3px;
	background-color:#FF7500;
}

.hero-heading{
	font-weight: 700;
	font-size: 38px;
	font-family: "Roboto Condensed",sans-serif;
	line-height: 120%;
	letter-spacing: 0.5px;
}

/* <!-- FEATURES --> */

.features h2{
	width: 440px;
	font-weight: 700;
	font-size: 72px;
	font-family: "Roboto Condensed",sans-serif;
	line-height: 1.2;
	letter-spacing: 0.5px;
}
.features h3{
	width: 214px;
	font-weight: 700;
	font-size: 24px;
	font-family: "Roboto Condensed",sans-serif;
	line-height: 120%;
}
.features p{
	width: 314px;
	font-weight: 400;
}
.features ul{
	display: flex;
	width: 1100px;
	list-style-type: none;
}

 /* <!-- PROMO --> */

 .promo{
	width: 1100px;
	background-color:#252420;
	border-radius: 12px;
	color: #ffffff;
}
.promo h2{
	width: 373px;
	height: 96px;
	font-family: "Roboto Condensed",sans-serif;
	font-weight: 700;
	font-size: 40px;
	line-height: 120%;
}
.promo p{
	width: 440px;
	height: 108px;

}
.contact{
	list-style-type: none;
}
strong{
	color:#FF7500;
}
/* <!-- FOOTER --> */
footer{
	background-color: #f8f8f8;
	display:flex;
	width: 100%;
	height: 229px;
}
footer a{
	color: #252420;
	font-size: 16px;
	text-decoration: none;
	line-height: 100%;
	line-height: 30px;
	}
footer ul{
	width: 224px;
	list-style-type: none;
}
.site-footer-divider{
	background-color: #25242080;
	height: 2px;
}