body{
	font-size: 16px;
	line-height: 1.5;
	font-family: "Roboto",sans-serif;
	letter-spacing: 0.5px;
}
*:focus{
	outline: 2px solid #FF7500;
	outline-offset: 3px;
}

/* <!-- headr --> */
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #ffffff;
	border-top: 5px solid #FF7500;
}
.logo-link{
	transition: opacity 0.4s ease;
}
.logo-link:hover{
	opacity: 0.8;
}
.logo-link:active{
	opacity: 0.6;
}
/* <!-- SITENAV --> */
.nav{
	padding: 0;
	display: flex;
	list-style-type: none;
	margin:0;
	align-items: center;
}
.navbarnav{
	display: flex;

}

.nav a{
	line-height: 15px;
	font-weight: 500;
	letter-spacing: 1px;
	margin-right: 30px;
	text-transform: uppercase;
	color: #000;
	list-style: none;
	text-decoration:none;
	transition:
	color 0.4s ease,
	opacity 0.4s ease;
}

.nav a:hover{
	color: #FF7500;
}
.nav a:active{
	opacity: 0.6;
}
/* <!--HERO  --> */
.hero{
	background-color:#252420;
	color: #ffffff;
	padding-left: 80px;
	padding-left: 80px;
}
.hero-hero{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.hero-content{
	width: 390px;
}
.hero img{
	border-radius: 8px;
}
.btn{
	display: inline-block;
	line-height: 15px;
	background-color: #FF7500;
	color: #fff;
	padding: 12px 24px;
	text-decoration: none;
	transition:
	color 0.4s ease,
	opacity 0.4s ease;
	border-radius: 4px;
	font-weight: bold;
}
.btn:hover{
	background-color: rgb(0, 0, 0);
	color: #FF7500;
}
.orange-line{
	width: 80px;
	height: 3px;
	background-color:#FF7500;
	border: none;
	margin: 0;
	margin-bottom: 40px;
}

.hero-heading{
	font-weight: 700;
	font-size: 38px;
	margin-top: 0;
	margin-bottom: 24px;
	font-family: "Roboto Condensed",sans-serif;
	line-height: 120%;
	letter-spacing: 0.5px;
}
.hero-text{
	margin-top: 0;
	margin-bottom: 32px;
}

/* <!-- FEATURES --> */
.features{
	padding-top: 210px;
	padding-bottom: 210px;
}
.features h2{
	width: 440px;
	font-weight: 700;
	font-size: 72px;
	font-family: "Roboto Condensed",sans-serif;
	line-height: 1.2;
	letter-spacing: 0.5px;
  top: 821px;
  padding-left: 170px;
	margin-top: 0;
	margin-bottom: 72px;
}
.features h3{
	width: 214px;
	font-weight: 700;
	font-size: 24px;
	font-family: "Roboto Condensed",sans-serif;
	line-height: 120%;
}
.features p{
	width: 314px;
	font-weight: 400;
}
.features li{
	margin-right: 40px;
}
.features li:last-child{
	margin-right: 0;
}
.features ul{
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

 /* <!-- PROMO --> */

 .promo{
	background-color:#252420;
	border-radius: 12px;
	padding-top: 120px;
	padding-bottom: 160px;
	color: #ffffff;
}
.promo-promo{
	display: flex;
	justify-content:space-between;
	align-items: center;
}
.promo h2{
	width: 373px;
	height: 96px;
	font-family: "Roboto Condensed",sans-serif;
	font-weight: 700;
	font-size: 40px;
	line-height: 120%;
	margin-top: 0;
	margin-bottom: 24px;
}
.promo p{
	width: 440px;
	margin-top: 0;
	margin-bottom: 12px;
}
.promo-text:last-child{
	margin-bottom: 0;
}
.promo img{
	width: 440px;
	height: 440px;
	border-radius: 12px;
	object-fit: cover;
}
.contact{
	padding: 0;
	display: flex;
	align-items: center;
	list-style-type: none;
	margin: 0;

}
.contact a{
	color: #252420;
	transition: all 0.4s ease;
	margin-left: 16px;
}
.contact li:last-child{
	margin-left: 0;
}
.contact a:hover{
	color: #FF7500;
}
.contact a:active{
	opacity: 0.6;
}
strong{
	color:#FF7500;
}
.site-footer-top{
	display: flex;
	justify-content: space-between;
	padding-top: 56px;
	padding-bottom: 56px;
	align-items: center;
}
/* <!-- FOOTER --> */
footer{
	padding: 0;
	background-color: #f8f8f8;
	display:flex;
	width: 100%;
	height: 229px;
}
footer a{
	color: #252420;
	font-size: 16px;
	text-decoration: none;
	line-height: 100%;
	line-height: 30px;
	transition: opacity ;
	}
footer a:hover{
	opacity: 0.4;
}
footer ul{
	width: 224px;
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-right: 68px;
	/* margin-left: 70px; */
}
footer ul:last-child{
	margin-right: 0;
}
.site-footer-divider{
	background-color: #25242080;
	height: 2px;
	border: 0;
	margin-top: 40px;
	margin-bottom: 64px;
}
