header{
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
}
.nav a{
	font-size: 13px;
	line-height: 15px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #000;
	list-style: none;

	text-decoration:none;
}
.hero{
	background-color:#252420;
	width: 100%;
	height: 488px;
}
.hero-content{
	width: 390px;
}
.btn{
	font-size: 13px;
	line-height: 15px;
	background-color: #FF7500;
	color: #fff;
	text-decoration: none;
}
.line{
	width: 80px;
	height: 3px;
	background-color:#FF7500;
}
.pythonda{
	font-weight: 700;
	font-size: 38px;
	color: #ffffff;
	line-height: 120%;
	letter-spacing: 0.5px;
}
.hero-text{
  color: #ffffff;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.5px;
}
.ustunlik{

}
.ustunlik h2{
	width: 435px;
	font-weight: 700;
	font-size: 72px;
	line-height: 1.2;
	letter-spacing: 0.5px;
}
.ustunlik h3{
	width: 214px;
	height: 29px;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
}
.ustunlik p{
	width: 314px;
	height: 72px;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
}
.aksiya{
	background-color:#252420;
	border-radius: 12px;
}
.aksiya h2{
	width: 373px;
	height: 96px;
	color: #ffffff;
	font-weight: 700;
	font-size: 40px;
	line-height: 120%;
}
.aksiya p{
	width: 440px;
	height: 108px;
	color: #ffffff;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	width: 440px;
	height: 48;
}
strong{
	color:#FF7500;
}
footer{
	display:flex;
	width: 229px;
	height: 229px;
}
footer a{
	color: #252420;
	font-size: 16px;
	text-decoration: none;
	line-height: 100%;
	}
footer ul{
	width: 150px;
	height: 159px;
}
.ustunlik ul{
	display: flex;
}
